<style>.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(wallpaper.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.fa-instagram {
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.fa-discord {
    color: cornflowerblue;
    font-size: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.fa-steam-square {
    color: darkblue;
}

.fa-address-book {
    color: blue;
}

.fa-map-marker {
    color: red;
}

.fa-envelope-o {
    color: gray;
}

.fa-phone {
    color: lightgreen;
}

p.menu {
    font-family: sans-serif;
}

img.tengah {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header ul {
    text-align: right;
    font-family: cursive;
    float: right;
}

.nav-item .active {
    text-decoration: underline pink;
    text-shadow: 2px 2px pink;
}

.about {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}

.banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 143, 119, -6)
}

section {
    padding: 50px 0;
}

.contact {
    margin: 80px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: center;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    background-image: url(wallcontact.jpeg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px solid pink;
}

.info {
    margin: auto;
    float: left;
    padding: 20px;
}

.message {
    margin: auto;
    float: right;
    padding: 20px;
    width: 400px;
}

.buyer {
    width: 400px;
    margin: auto;
    float: left;
    padding: 20px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.order {
    margin: auto;
    float: right;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.po {
    border: 3px solid pink;
    background-image: url(wallorder.jpeg);
}

.card-body {
    border: 2px solid pink;
    background: lightyellow;
}

.card img {
    width: 100%;
    height: 250px;
    border: 2px solid pink;
}

.card-title {
    font-family: serif;
    text-align: center;
}

.card-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

.footer {
    margin-top: 10px;
    height: 28px;
}

}
</style>
